@import 'variables';
.InputEscribirComentario {
    display: flex;
    input {
        width: 100%;
        height: 46px;
        color: $verde;
        border: 1px solid $grisBorder;
        padding-left: 10px;
        font-size: 14px;
        border-left: 0;
        border-right: 0;
        &::placeholder {
            color: $verde;
        }
    }
}

.submitEscribirComentario {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: $blanco;
    input[type="submit"] {
        background-color: $verde;
        color: $blanco;
        border: none;
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
        padding: 5px 30px;
        cursor: pointer;
    }
}